02 ADF Create/SQL Not Date Based Extract.json
{
    "name": "SQL Not Date Based Extract",
    "properties": {
        "activities": [
            {
                "name": "Get Tables To Extract",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT [DBName], [TargetTableSchema], [TableName], [NotDateColumn], [TargetContainer] FROM [ADF].[ExtractTables] \nWHERE [IsActive] = 1 and NotDateColumn = '@{pipeline().parameters.NotDateColumn}'",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "LookupMetadataExtract",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": true
                }
            },
            {
                "name": "Extract from SQL Table to ADLS Parquet",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Get Tables To Extract",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "select * from @{concat(concat(activity('Get Tables To Extract').output.firstrow.TargetTableSchema),'.', string(activity('Get Tables To Extract').output.firstrow.TableName))} where @{concat(concat(concat(activity('Get Tables To Extract').output.firstrow.NotDateColumn),' = ''', pipeline().parameters.NotDateColumnValue),'''')}",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "SrcSQLTableExtract",
                        "type": "DatasetReference",
                        "parameters": {
                            "TargetTableSchema": {
                                "value": "@activity('Get Tables To Extract').output.firstrow.TargetTableSchema",
                                "type": "Expression"
                            },
                            "TableName": {
                                "value": "@activity('Get Tables To Extract').output.firstrow.TableName",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "SinkADLSParquetExtract",
                        "type": "DatasetReference",
                        "parameters": {
                            "DBName": {
                                "value": "@activity('Get Tables To Extract').output.firstrow.TableName",
                                "type": "Expression"
                            },
                            "TargetContainer": {
                                "value": "@activity('Get Tables To Extract').output.firstrow.TargetContainer",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Log results to ADF Logging Table",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Extract from SQL Table to ADLS Parquet",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT '@{pipeline().DataFactory}' as ADFName,\n'@{pipeline().Pipeline}' as Pipeline_Name,\n'@{pipeline().parameters.NotDateColumnValue}' as NotDateColumnValue,\n'@{pipeline().parameters.NotDateColumn}' as NotDateColumn,\n'@{activity('Extract from SQL Table to ADLS Parquet').output.rowsCopied}' as rowsCopied,\n'@{pipeline().TriggerTime}' as ADFStarted,\n'@{activity('Get Tables To Extract').output.firstrow.DBName}' as DBName,\n'@{activity('Get Tables To Extract').output.firstrow.TargetTableSchema}' as TargetTableSchema,\n'@{activity('Get Tables To Extract').output.firstrow.TableName}' as TargetTableName,\n'@{activity('Get Tables To Extract').output.firstrow.TargetContainer}' as TargetContainer",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "AzureSqlSink"
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "ADFName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "ADFName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Pipeline_Name",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "ADFPipelineName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "NotDateColumnValue"
                                },
                                "sink": {
                                    "name": "NotDateColumnValue",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "NotDateColumn"
                                },
                                "sink": {
                                    "name": "NotDateColumn",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "rowsCopied"
                                },
                                "sink": {
                                    "name": "ADFRowsCopied",
                                    "type": "Int32",
                                    "physicalType": "int"
                                }
                            },
                            {
                                "source": {
                                    "name": "ADFStarted"
                                },
                                "sink": {
                                    "name": "ADFStarted",
                                    "type": "DateTime",
                                    "physicalType": "datetime"
                                }
                            },
                            {
                                "source": {
                                    "name": "TargetTableSchema"
                                },
                                "sink": {
                                    "name": "TargetTableSchema",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "DBName"
                                },
                                "sink": {
                                    "name": "SourceDBName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "TargetContainer"
                                },
                                "sink": {
                                    "name": "TargetContainer",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "TargetTableName"
                                },
                                "sink": {
                                    "name": "TargetTableName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "LookupMetadataExtract",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "SinkSQLLogTable",
                        "type": "DatasetReference"
                    }
                ]
            }
        ],
        "parameters": {
            "NotDateColumnValue": {
                "type": "string"
            },
            "NotDateColumn": {
                "type": "string"
            }
        },
        "annotations": [],
        "lastPublishTime": "2020-10-06T13:39:20Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}